<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.mapper.TypeMapper">
  <resultMap id="BaseResultMap" type="com.woniu.entity.Type">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mtype" jdbcType="VARCHAR" property="mtype" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, mtype
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.woniu.entity.Type" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into type (mtype)
    values (#{mtype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.woniu.entity.Type" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mtype != null">
        mtype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mtype != null">
        #{mtype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.entity.Type">
    <!--@mbg.generated-->
    update type
    <set>
      <if test="mtype != null">
        mtype = #{mtype,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.entity.Type">
    <!--@mbg.generated-->
    update type
    set mtype = #{mtype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>