<!DOCTYPE html>
<html lang="en">
<head>
<title>详情</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
	<script src="/web/js/vue.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="ltcss/order-detail.3a8a0a18.css"/>
<link href="/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/web/css/faqstyle.css" type="text/css" media="all" />
<link href="/web/css/medile.css" rel='stylesheet' type='text/css' />
<link href="/web/css/single.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="/web/css/contactstyle.css" type="text/css" media="all" />
<!-- news-css -->
<link rel="stylesheet" href="/web/news-css/news.css" type="text/css" media="all" />
<!-- //news-css -->
<!-- list-css -->
<link rel="stylesheet" href="/web/list-css/list.css" type="text/css" media="all" />
<!-- //list-css -->
<!-- font-awesome icons -->
<link rel="stylesheet" href="/web/css/font-awesome.min.css" />
<!-- //font-awesome icons -->
<!-- js -->
<script type="text/javascript" src="/web/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="/web/js/move-top.js"></script>
<script type="text/javascript" src="/web/js/easing.js"></script>

<!-- start-smoth-scrolling -->
<!-- tables -->
<link rel="stylesheet" type="text/css" href="/web/ltcss/order-detail.3a8a0a18.css"/>
<link rel="stylesheet" type="text/css" href="/web/list-css/basictable.css" />
<script type="text/javascript" src="/web/list-js/jquery.basictable.min.js"></script>
    <script type="text/javascript" src="/web/js/vue.js"></script>
<style type="text/css">
		#p-info{
			position:absolute;
			
		}
		#info{
		position:absolute;top:40px;z-index:10000;
		margin-left: -40px;
		
	}
</style>

<!-- //tables -->

</head>
	
<body>
<!-- header -->
<div class="header">
				<div class="container container-head">
			<div class="w3layouts_logo ">
				<a href="/web/index.html">
					<h1 class="title">爱乐<span id="webtitle-bottom">电影</span></h1></a>
			</div>
			<div class="w3l_search_city col-lg-3 col-xs-12 col-sm-6">
				<form action="#" method="post">
					<input type="text" list="city" value="重庆"/>
					<datalist id="city">
						<option>北京</option>
					</datalist>
				</form>
			</div>
			<div class="w3_search col-lg-5 col-xs-12 col-sm-6">
				<form action="#" method="post">
					<input type="text" name="Search" placeholder="搜索一部你期待的电影吧" required="required">
					<input type="submit" value="Go">
				</form>
			</div>

		<div class="w3l_sign_in_register col-lg-1 col-xs-12 col-sm-6" >
				<ul   class="text-center" >
					<li id ="p-info">
						<img class="user-info" style="height: 40px;"  src="/web/images/default_head.png"></img>
						<span  class="caret"></span>
						<ul id ="info" style="display:none;">
							<li ><a  href="#"  data-toggle="modal" data-target="#myModal">登录</a></li>
							<li ><a href="/web/profile/orders.html">我的订单</a></li>
							<li ><a href="/web/profile/profile.html">我的信息</a></li>
							<li ><a href="javascript:void 0">退出登录</a></li>
						</ul>
					</li>

				</ul>


		</div>
	</div>
</div>
	<script>
				 $(function () {
				 	
				 	$("#p-info").mouseover(function(){
 						 $("#info").show()
						});
					$("#p-info").click(function(){
 						 $("#info").show()
						});
					$("#p-info").mouseout(function(){
 						 $("#info").hide()
						});
				 })
			</script>
<!-- //header -->
<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					欢迎使用爱乐电影
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<section>
					<div class="modal-body">
						<div class="w3_login_module">
							<div class="module form-module">
							  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
								<div class="tooltip">点击注册</div>
							  </div>
							  <div class="form">
							  	<fieldset>
							  		<legend class="form-legend">账号登录</legend>
							  		<div class="log-toggle"><i class="switch-log">账号密码登录</i>
							  		</div>
							  		<form action="#" method="post">
									  <input type="text" name="Username" placeholder="请输入用户名" required="required">
									  <input type="password" name="Password" placeholder="请输入密码" required="required">
									  <label class="check-lable"><input type="checkbox" name="remember"/>记住我</label>
									  <a href="#" class="forget-a">忘记密码？</a>
									  <input class="btn btn-success" type="submit" value="登录">
									</form>
							  	</fieldset>
							  </div>
							  <!--
                              	作者：971872973@qq.com
                              	时间：2019-09-07
                              	描述：手机验证的表单
                              -->
							  <!--<div class="log-form">
							  	<fieldset>
							  		<legend class="form-legend">账号登录</legend>
								  	<form action="#" method="post">
									  <input type="text" name="Username" placeholder="请输入手机号" required="required">
									  <input type="password" name="Password" placeholder="请输入验证码" required="required">
									  <input type="button" class="code-button" name="getcode" value="获取验证码"/>
									  <input class="btn btn-success" type="submit" value="登录">
									</form>
								</fieldset>
							  </div>-->
							  <div class="form">
								<fieldset>
									<legend class="form-legend">注册账户</legend>
									<form action="#" method="post">
									  <input type="text" name="username" placeholder="新用户名" required="">
									  <input type="password" name="password" placeholder="新密码" required="">
									  <input type="password" name="checkpwd" placeholder="请确认密码" required="">
									  <input type="text" name="phone" placeholder="电话" required="">
									  <input type="submit" value="注册">
									</form>
								</fieldset>
							  </div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	
	
			
	<script>
		$('.toggle').click(function(){
		  // Switches the Icon
		  $(this).children('i').toggleClass('fa-pencil');
		  // Switches the forms  
		  $('.form').animate({
			height: "toggle",
			'padding-top': 'toggle',
			'padding-bottom': 'toggle',
			opacity: "toggle"
		  }, "slow");
		});
	</script>
<!-- //bootstrap-pop-up -->
<!-- nav -->

    
    <div class="container" id="app">

  <div class="order-container" data-page-type="detail" :data-order-id="msg.object.orderId" data-unique-status="0">

    <div class="status-box unpaid">
      <p class="title" v-text="msg.object.ostateMsg">待支付</p>

        <p class="desc" data-left-pay-second="358">
          请在<span class="minute">4</span>分钟<span class="second">41</span>秒内完成支付
        </p>
    </div>


    <div class="order-note">
      <span class="order-id" v-text="'爱乐订单号:'+msg.object.orderId"></span>
      <span class="contact">（有订单问题可拨打爱乐客服电话<i>1010-5335</i>，工作时间: 9:00-24:00）</span>
    </div>

      <table class="order-table">
    <thead>
      <tr style="color:#FF8D1B;">
        <th class="text-center">影片</th>
        <th class="text-center">时间</th>
        <th class="text-center">影院</th>
        <th class="text-center">座位</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="movie-name" v-text="msg.object.movieName"></td>
        <td class="showtime" v-text="msg.object.formatTime"></td>
        <td class="cinema-name" v-text="msg.object.cinemaName"></td>
        <td>
          <span class="hall" v-text="msg.object.roomName"></span>
          <div class="seats">
            <div v-for="seatname in msg.object.seatList">
                <span class="" v-text="seatname.seatName"></span>
            </div>
            <div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>


    <div class="order-bottom">
      <div class="clearfix">
        <div class="cinema-info">
          <p class="name" v-text="msg.object.cinemaName"></p>
          <p class="address"v-text="'地址： '+msg.object.cinemaAddress"></p>
          <p class="phone" v-text="'电话： '+msg.object.phone"></p>
        </div>

        <div class="price-box">
          <span>总价:</span>
          <span class="price">32.9</span>
        </div>
      </div>

        <div class="btn-wrapper">
          <div class="pay-btn" data-order-id="21309230601">立即支付</div>
        </div>
    </div>
  </div>

  <div class="modal-container" style="display:none">
    <div class="modal">
      <span class="icon"></span>
      <p class="tip">支付超时，该订单已失效，请重新购买</p>
      <div class="ok-btn btn">我知道了</div>
    </div>
  </div>

    <form name="cashierForm" method="post" action="https://mpay.meituan.com/cashier/pc/index">
    <input type="hidden" name="token" value="">
    <input type="hidden" name="tradeno" value="">
    <input type="hidden" name="pay_token" value="">
    <input type="hidden" name="website" value="mtmaoyan">
    <input type="hidden" name="pay_success_url" value="http://www.maoyan.com/order/result/21309230601">
    <input type="hidden" name="nb_platform" value="www">
    <input type="hidden" name="nb_source" value="cashier-pcforcustomer">
  </form>


    <div class="modal-container" style="display:none">
    <div class="modal">
      <span class="icon"></span>

      <p class="tip"></p>

        <div class="ok-btn btn">我知道了</div>
    </div>
  </div>

    </div>
	<script type="text/javascript">
  var href = window.location.href;
  var id= href.split("=")[0];
    function select(obj) {
		$.ajax({
			url: "/orders/profile/orders/detail",
			data: {"oid": "1"},
			type: "get",
			dataType: "json",
			success: function (data) {
				obj.msg = data;
			}
		})
	}
	/*var pay= setInterval('alert("Hello");', 3000);*/

        var app = new Vue({
            el: "#app",
            data: {msg: ""},
            created: function () {
                var obj = this
                select(obj);
            }
        })
</script>

	
			

	<div class="footer">
		<div class="container">
			<div class="w3ls_footer_grid">
				<div class="col-md-6 w3ls_footer_grid_left">
					<div class="w3ls_footer_grid_left1">
						<h3>关于爱乐</h3>
						<div class="w3ls_footer_grid_left1_pos">
							<div class="bottom-row">
								<span>商务合作邮箱：971872973@qq.com</span>
								<span class="bt-line">|</span>
								<span>客服电话：17603649546</span>
							</div>
							<div class="bottom-row">
								<span>用户投诉邮箱：1099773854@qq.com</span>
								<span class="bt-line">|</span>
								<span>友情链接：<a href="https://cq.meituan.com/?utm_source=wwwmaoyan" class="bottom-chain">美团网</a></span>
							</div>
							<div class="bottom-row">
								<a href="#" class="bottom-chain">中华人民共和国增值电信业务经营许可证&nbsp;渝A1-20190909</a>
							</div>
							<div class="bottom-row">
								<a href="#" class="bottom-chain">网络文化经营许可证&nbsp;京网文(2019)3897-330号</a>
							</div>
							<div class="bottom-row">
								<a href="#" class="bottom-chain">爱乐用户服务协议</a>
								<span class="bt-line">|</span>
								<a href="#" class="bottom-chain">爱乐平台交易规则总则</a>

							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 w3ls_footer_grid_right">
					<a href="index.html"><h2 class="title">爱乐<span id="webtitle-bottom">电影</span></h2></a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-5 w3ls_footer_grid1_left">
				<p>重庆爱乐文化传媒有限公司©2016 爱乐电影 aiyue.com </p>
			</div>
			<div class="col-md-7 w3ls_footer_grid1_right">
				<div class="col-lg-6 card-left">
					<a href="#"><img src="images/web-permission.png" /></a>

				</div>
				<div class="col-lg-6 card-right">
					<a href="#"><img src="images/permission-card.png" /></a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="/web/js/bootstrap.min.js"></script>

<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>